#searchContainer {
  margin-top: 25px;
}
#searchContainer h1 {
  font-size: 2em;
  font-weight: 300;
}

#rainInfo h2 {
  font-size: 1.5em;
  font-weight: 300;
}
#rainInfo h1 {
  font-size: 3em;
  font-weight: 300;
}
#rainInfo h3 {
  font-size: 1.25em;
  font-weight: 300;
}
.subText {
  font-size: 0.25em;
  font-weight: 300;
  margin-top: 10px;
}
.card-title {
  text-align: center;
}
