<div class="container">
  <div class="row">
    <div id="searchContainer" class="col-md-4">
      <h1 class="my-4">Does My Garden Need Watering?</h1>
      <form
        [formGroup]="weatherSearchForm"
        (ngSubmit)="sendToWS(weatherSearchForm.value)"
      >
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            id="weatherLocation"
            aria-describedby="weatherLocation"
            placeholder="My City"
            formControlName="location"
          />
        </div>
        <div>
          <button type="submit" class="btn btn-secondary btn-md my-4">
            Should I Water My Garden?
          </button>
        </div>
      </form>
    </div>

    <div *ngIf="searchClicked" id="rainInfo" class="col-md-3">
      <h2>Precipitation last 7 days:</h2>
      <h1>{{ this.totalPrecipitation }}"</h1>
      <h3 *ngIf="totalPrecipitation < 0.5">My garden needs water this week.</h3>
      <p *ngIf="totalPrecipitation < 0.5">
        Try and water about {{ 1 - this.totalPrecipitation }}"
      </p>
      <h3 *ngIf="totalPrecipitation >= 0.5 && totalPrecipitation < 1">
        My garden may need less water this week.
      </h3>
      <p *ngIf="totalPrecipitation >= 0.5 && totalPrecipitation < 1">
        Try and water about {{ 1 - this.totalPrecipitation }}"
      </p>

      <h3 *ngIf="totalPrecipitation > 1">My garden does not need water.</h3>
    </div>
    <div
      class="col-md-6"
      style="width: 500px; height: 600px"
      echarts
      [options]="weatherOptions"
    ></div>
  </div>
</div>
