<form
  [formGroup]="advancedSearchForm"
  (ngSubmit)="submitSearch(advancedSearchForm.value)"
>
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Zip Code -or- City"
      id="weatherLocation"
      formControlName="location"
    />
    <select id="timeInterval" formControlName="interval" class="form-select">
      <option value="24" selected>Choose Hour Interval</option>
      <option value="24">24</option>
      <option value="12">12</option>
      <option value="6">6</option>
    </select>

    <button class="btn btn-outline-primary" type="submit" id="button-addon2">
      Search
    </button>
  </div>
</form>
