body {
  color: #bad0d9;
  background: linear-gradient(to bottom, #17415a, #2e6980);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

// body {
//   background-color: linear-gradient(to bottom, #1b4e6b, #1e647f);
//   background-repeat: false;
// }
